@model List<Hepsiburada_Seller_Information.Models.Seller_Information>
@{
    ViewBag.Title = "Hepsiburada Satıcı Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1 class="text-center">Hepsiburada Satıcı Bilgileri</h1>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="tblBilgiler">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Id</th>
                    <th>Link</th>
                    <th>Mağaza Adı</th>
                    <th>Telefon</th>
                    <th>Email</th>
                    <th>Adres</th>
                    <th>Fax</th>
                    <th>Mersis</th>
                    <th>Kategori</th>
                    <th>Mağaza Skoru</th>
                    <th>Derecelendirme Sayısı</th>
                    <th>Takipçi Sayısı</th>
                    <th>Ortalama Teslimat Süresi</th>
                    <th>Yanıt Süresi</th>
                    <th>Derecelendirme Puanı</th>
                    <th>Yorum Sayısı</th>
                    <th>Ürün Sayısı</th>
                    <th>Satıcı İsmi</th>
                    <th>VKN</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var infos in Model)
                {
                    <tr class="text-center">
                        <td>@infos.ID</td>
                        <td><a href="@infos.Link" target="_blank">@infos.Link</a></td>
                        <td>@infos.StoreName</td>
                        <td>@infos.Telephone</td>
                        <td>@infos.Email</td>
                        <td>@infos.Address</td>
                        <td>@infos.Fax</td>
                        <td>@infos.Mersis</td>
                        <td>@infos.Category</td>
                        <td>@infos.StoreScore</td>
                        <td>@infos.NumberOfRatings</td>
                        <td>@infos.NumberOfFollowers</td>
                        <td>@infos.AverageDeliveryTime</td>
                        <td>@infos.ResponseTime</td>
                        <td>@infos.RatingScore</td>
                        <td>@infos.NumberOfComments</td>
                        <td>@infos.NumberOfProducts</td>
                        <td>@infos.SellerName</td>
                        <td>@infos.VKN</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#tblBilgiler').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true
            });
        });
    </script>
}
